.card {
	margin: 10px;
	border: 1px solid #eee;
	/* box-shadow: 1px 5px 3px #bfbfbf; */
	box-shadow: 1px 5px 3px #bfbfbf;
	width: 200px;
	padding: 20px;
	background-color: #eee; /* #0d8bf2; */
	color: #000000;
	font-family: cursive;
}


.w3-black {
	/* color: #fff; */
	background-color: #eee;
	padding: 5rem;
	margin: 1rem;
}

.w3-card-4 {
	box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.5),0 4px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 3rem;
	margin: 1rem;
}

.w3-padding-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}