.App {
  text-align: center;
  margin: 1rem;  
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #2196F3;
}

.cardList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  border: 1px solid #0d8bf2 !important;
  margin: 3px;
  width: 10rem;
  /* position: absolute; */
}

.butn:hover {
  background: #bfbfbf;
  text-decoration: none;
  /* border: 1px solid #0b7dda !important; */
  border: 1px solid #eee !important;
}

/*
background: #f12711;  // fallback for old browsers
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /// Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #f5af19, #f12711); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
*/